{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Welcome to {{ clubName }}</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel eros in sapien tempor aliquam. Fusce ullamcorper luctus quam, at bibendum nibh dapibus a. In hac habitasse platea dictumst. Sed accumsan euismod augue a faucibus. Maecenas consectetur fringilla commodo. Sed gravida, diam in consectetur euismod, est nisi facilisis enim, id blandit lectus nunc eget est. </p>
<div style="text-align: center;">
  <img src="{{ asset('club.png') }}" alt="Club Image">
</div>    </div>
{% endblock %}
